.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  background-color: #6daafa;
  color: white;
  padding: 1rem;
  z-index: 2;

  .header-content {
    display: flex;
    align-items: center;
  }

  .logo-container {
    margin-right: 1rem;
  }

  .angular-logo {
    height: 40px;
    width: auto;
  }

  h1 {
    margin: 0;
  }
}

main {
  padding: 1rem;
}

footer {
  background-color: #f5f5f5;
  color: #333;
  text-align: center;
  padding: 1rem;
}

.content-wrapper {
  flex: 1;
  display: flex;
}

mat-sidenav-container {
  flex: 1;
  display: flex;
}

mat-sidenav {
  width: 200px;
  transition: width 0.3s ease-in-out;
  background-color: #f5f5f5;

  &.mini-sidenav {
    width: 60px;

    .mat-mdc-list-item {
      justify-content: center;
    }
  }
}

mat-sidenav-content {
  flex: 1;
  transition: margin-left 0.3s ease-in-out;
  margin-left: 0;
  position: relative;

  &:not(.content-expanded) {
    margin-left: 200px;
  }
}

.content-expanded {
  margin-left: 60px !important;
}

mat-nav-list {
  a.mat-mdc-list-item {
    height: 48px;
    padding: 0 16px;
    display: flex;
    align-items: center;

    ::ng-deep .mdc-list-item__content {
      display: flex;
      align-items: center;
      flex: 1;
    }

    .mdc-list-item__start {
      display: flex;
      align-items: center;
      margin-right: 16px;
    }

    mat-icon {
      display: inline-flex;
      vertical-align: middle;
      margin-right: 8px;
    }

    span {
      display: inline-flex;
      vertical-align: middle;
    }
  }
}
