<div class="app-container">
  <header>
    <div class="header-content">
      <div class="logo-container">
        <img src="assets/angular.svg" alt="Angular logo" class="angular-logo">
      </div>
      <h1>Showcase</h1>
    </div>
  </header>

  <div class="content-wrapper">
    <mat-sidenav-container>
      <mat-sidenav #sidenav [opened]="true" [mode]="'side'" [class.mini-sidenav]="!isMenuOpen">
        <mat-nav-list>
          <a mat-list-item (click)="toggleMenu()">
            <mat-icon>menu</mat-icon>
            <span *ngIf="isMenuOpen"></span>
          </a>
          <a mat-list-item routerLink="/home">
            <mat-icon>home</mat-icon>
            <span *ngIf="isMenuOpen">Home</span>
          </a>
          <a mat-list-item routerLink="/customer">
            <mat-icon>person</mat-icon>
            <span *ngIf="isMenuOpen">Customer</span>
          </a>
        </mat-nav-list>
      </mat-sidenav>

      <mat-sidenav-content [ngClass]="{'content-expanded': !isMenuOpen}">
        <main>
          <router-outlet></router-outlet>
        </main>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>

  <footer>
    <p>&copy; 2024 Angular Showcase. All rights reserved.</p>
  </footer>
</div>
