<div class="app-container">
  <header>
    <h1>Angular Showcase</h1>
  </header>

  <div class="content-wrapper">
    <mat-sidenav-container>
      <mat-sidenav #sidenav [opened]="true" [mode]="'side'" [class.mini-sidenav]="!isMenuOpen">
        <mat-nav-list>
          <a mat-list-item (click)="toggleMenu()">
            <mat-icon>menu</mat-icon>
            <span *ngIf="isMenuOpen">Menu</span>
          </a>
          <a mat-list-item routerLink="/home">
            <mat-icon>home</mat-icon>
            <span *ngIf="isMenuOpen">Home</span>
          </a>
          <a mat-list-item routerLink="/about">
            <mat-icon>info</mat-icon>
            <span *ngIf="isMenuOpen">About</span>
          </a>
          <a mat-list-item routerLink="/services">
            <mat-icon>build</mat-icon>
            <span *ngIf="isMenuOpen">Services</span>
          </a>
          <a mat-list-item routerLink="/contact">
            <mat-icon>contact_mail</mat-icon>
            <span *ngIf="isMenuOpen">Contact</span>
          </a>
        </mat-nav-list>
      </mat-sidenav>

      <mat-sidenav-content [ngClass]="{'content-expanded': !isMenuOpen}">
        <main>
          <router-outlet></router-outlet>
        </main>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>

  <footer>
    <p>&copy; 2024 Angular Showcase. All rights reserved.</p>
  </footer>
</div>
