<div [formGroup]="form">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Operational Criteria</mat-card-title>
    </mat-card-header>
    <mat-card-content style="display: flex; flex-direction: column">
      <mat-checkbox formControlName="settlement_account"> Settlement Account </mat-checkbox>
      <mat-checkbox formControlName="custody_account"> Custody Account </mat-checkbox>
      <mat-checkbox formControlName="pledge_account"> Pledge Account </mat-checkbox>
      <mat-checkbox formControlName="securities_account"> Securities Account </mat-checkbox>
      <mat-checkbox formControlName="other"> Other </mat-checkbox>
    </mat-card-content>
  </mat-card>
</div>
